.Header-Bar{
  height:100px;
  background-color:#55acee;
  position:relative;
  margin-bottom: 15px;
}

.Header-Bar h1{
  position: absolute;
  color:#FFE;
  top:50%;
  left:50%;
  height: 37px;
  width:220px;
  margin-top:-18.5px;
  margin-left:-110px;
}